html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1399px;
}

/* .box-card {
  margin-top: 20px;
} */

.el-card {
  margin-top: 20px;
}

.el-breadcrumb {
  font-size: 14px;
}

.el-table {
  margin-top: 20px;
}

.el-pagination {
  margin-top: 20px;
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
}

/* .el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
} */